{% if not post_password_required() and ( have_comments() or comments_open() or pings_open()  ) %}

	{% block comments_template %}
		<section id="comments-template">
			{% if have_comments() %}
				<h3 id="comments-number">{{ comments_number() }}</h3>

				{% block comment_list %}
					<ul class="comment-list media-list">
						{% comments %}
						<li {{ hybrid_attr( 'comment' ) }}>

							<div class="pull-left">
								{{ get_avatar( get_comment_author_email()) }}
							</div>

							<div class="media-body">
								<h4 class="media-heading comment-meta">
									<cite {{ hybrid_attr( 'comment-author' ) }}>{{ comment_author_link() }}</cite>
									<time {{ hybrid_attr( 'comment-published' ) }}>{{ printf( __( '%s ago', 'hybrid-wing' ), human_time_diff( get_comment_time( 'U' ), current_time( 'timestamp' ) ) ) }}</time>
									<a {{ hybrid_attr( 'comment-permalink' ) }}>{{ _e( 'Permalink', 'hybrid-wing' ) }}</a>
									{{ edit_comment_link() }}
								</h4><!-- .comment-meta -->

								<div {{ hybrid_attr( 'comment-content' ) }}>
									{{ comment_text() }}
								</div><!-- .media-heading .comment-content -->

								{{ hybrid_comment_reply_link() }}
							</div><!-- .media-body -->
							{% endcomments %}
					</ul><!-- .comment-list -->
				{% endblock %}

				{% block comment_navigation %}
					<div class="comment-navigation comment-pagination">
						{{ hw_paginate_comments_links() }}
					</div><!-- .comment-navigation -->
				{% endblock %}
			{% endif %}

			{% block comments_closed %}
				{% if not comments_open() %}
					<p class="comments-closed">
						{{ _e( 'Comments are closed.', 'hybrid-wing' ) }}
					</p><!-- .comments-closed -->
				{% endif %}
			{% endblock %}

			{% block comment_form %}
				{{ comment_form() }}
			{% endblock %}

		</section><!-- #comments-template -->
	{% endblock %}

{% endif %}