<!DOCTYPE html>
<html {{ language_attributes() }}>
<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="{{ bloginfo( 'html_type' ) }}; charset={{ bloginfo( 'charset' ) }}" />
		<title>{{ wp_title() }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="{{ bloginfo( 'pingback_url' ) }}" />

		{{ wp_head() }}
	{% endblock %}
</head>

<body {{ hybrid_attr( 'body' ) }}>

{% block container %}
<div id="container">

	{% block header %}
		<header id="header">
			{% from 'twig/navbar.twig' import navbar %}
			{{ navbar( {'menu' : 'navbar'} ) }}
		</header>
	{% endblock %}

	{% block main %}
	<div id="main">

		{% block content %}
		<div id="content" class="hfeed">

			{% block breadcrumb breadcrumb_trail() %}

			{% block loop %}
			{% loop %}
			<article {{ hybrid_attr( 'post' ) }}>

				{% block entry_header %}
				<header class="entry-header">
					<h2 class="entry-title"><a href="{{ get_permalink() }}">{{ the_title() }}</a></h2>
				</header>
				{% endblock %}

				{% block entry_content %}
				<div class="entry-content">
					{{ the_content( sprintf( __( 'Continue reading %1$s', 'hybrid-wing' ), the_title( ' "', '"', false ) ) ) }}
					{{ wp_link_pages() }}
				</div>
				{% endblock %}

			</article>

			{# TODO else {{ get_template_part( 'loop-error' ) }} #}
			{% endloop %}
			{% endblock loop %}

			{% block loop_nav loop_pagination() %}
		</div>
		{% endblock content %}

		{% block sidebar %}
			{% if ( is_active_sidebar( 'primary' ) ) %}
				<div id="primary" class="sidebar aside">
					{{ dynamic_sidebar( 'primary' ) }}
				</div>
			{% endif %}
		{% endblock %}

	</div>
	{% endblock main %}

	{% block footer %}
		<footer id="footer">
			<p class="credit">{{ hybrid_apply_atomic_shortcode( 'hw_footer-content', __( '&copy; [the-year] [site-link]. Powered by [theme-link].' ) ) }}</p>
		</footer>
	{% endblock %}
</div>
{% endblock container %}

{{ wp_footer() }}
</body>
</html>